<ion-view title="Meus Dados" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="meusDados-form9" class="list">
      <label class="item item-input" id="meusDados-input26">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="" ng-value="firstName">
      </label>
      <label class="item item-input" id="meusDados-input27">
        <span class="input-label">Sobrenome</span>
        <input type="text" placeholder="" ng-value="lastName">
      </label>
      <label class="item item-input" id="meusDados-input31">
        <span class="input-label">E-mail</span>
        <input type="email" placeholder="" ng-value="email">
      </label>
      <ion-radio id="meusDados-radio2" >Masculino</ion-radio>
      <ion-radio id="meusDados-radio4" >Femenino</ion-radio>
      <label class="item item-input item-stacked-label" id="meusDados-input25">
        <span class="input-label">Data de Nascimento:</span>
        <input type="date" placeholder="" ng-value="birthday">
      </label>
    </form>
    <button id="meusDados-button12" class="button button-positive  button-block">Salvar Alterações</button>
    <button id="meusDados-button13" class="button button-assertive  button-block">Deletar</button>
  </ion-content>
</ion-view>
