<ion-view title="Cadastre-se" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="cadsatreSe-form10" class="list">
      <label class="item item-input" id="cadsatreSe-input18">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadsatreSe-input19">
        <span class="input-label">Sobrenome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadsatreSe-input30">
        <span class="input-label">e-mail</span>
        <input type="email" placeholder="">
      </label>
      <ion-radio id="cadsatreSe-radio5">Masculino</ion-radio>
      <ion-radio id="cadsatreSe-radio6">Femenino</ion-radio>
      <label class="item item-input item-stacked-label" id="cadsatreSe-input17">
        <span class="input-label">Data de nascimento:</span>
        <input type="date" placeholder="">
      </label>
    </form>
    <button id="cadsatreSe-button8" class="button button-positive  button-block">Cadastrar</button>
  </ion-content>
</ion-view>
